@using HGenealogy.Models.PedigreeInfo
@model List<PedigreeInfoModel>

@{
    string tilte = ViewBag.Title;
    int currentPedigreeID = ViewBag.currentPedigreeID;
    string currentInfoType = ViewBag.currentInfoType;
    IDictionary<string, string> infoTypeDic = ViewBag.infoTypeDic;
    string infoTypeC = infoTypeDic.Where(p => p.Key == currentInfoType).FirstOrDefault().Value;
}

<div class="container page-header">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">@infoTypeC</a></li>
        @*<li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
            <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
            <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>*@
    </ul>

    <div class="tab-content pedigree-info-list-page">
        <div id="home" class="tab-pane fade in active">
            <h3>@tilte</h3>
            @if (Model.Count > 0)
            {
                <div class="pedigreeInfo-list">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];

                        <div class="section address-item">
                            <div class="title">
                                <strong>@item.InfoTitle </strong>
                            </div>
                            <div class="info">
                                @Html.Raw(item.InfoContent)
                            </div>
                            <div class="buttons">
                                <input type="button" class="button-2 edit-address-button" onclick="location.href='@Url.Action("Edit", new { id = item .Id})'" value='修改' />
                                @*<input type="button" class="button-2 delete-address-button" value="刪除" onclick='doDelete("@item.Id")' />*@
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                @*<div class="no-data">
                        無資料可顯示
                    </div>*@
            }
            <div class="form-group">
                <div class="col-md-12">
                    <input type="button" value="新增" class="btn btn-default" onclick="location.href='@Url.Action("Create", new { pedigreeID = currentPedigreeID, infoType = currentInfoType })'" />
                </div>
            </div>
        </div>
    </div>
</div>

