@using HGenealogy.Models.PedigreeInfo
@model List<PedigreeInfoModel>

@{
    string tilte = ViewBag.Title;
    int currentPedigreeID = ViewBag.currentPedigreeID;
    string currentInfoType = ViewBag.currentInfoType;
    IDictionary<string, string> infoTypeDic = ViewBag.infoTypeDic;
    string infoTypeC = infoTypeDic.Where(p => p.Key == currentInfoType).FirstOrDefault().Value;
}

<div>
    <ul class="nav nav-tabs nav-tabs-justified ">
        <li class="active "><a data-toggle="tab" href="#home">@infoTypeC</a></li>
        @*<li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
            <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
            <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>*@
    </ul>

    <div class="tab-content pedigree-info-list-page">
        <div id="home" class="tab-pane fade in active">
            @if (currentInfoType == "Meta")
            {
                <h2>@tilte</h2>
                <div class="panel panel-info">
                    <div class="panel-heading ">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">基本資料</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.Title):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.Title)
                                </div>
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.Editor):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.Editor)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.Description):
                                </div>
                                <div class="col-md-10">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.Description)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.Image):
                                </div>
                                <div class="col-md-10">
                                    @{
                if (string.IsNullOrEmpty(Model.FirstOrDefault().pedigreeMetaModel.Image))
                {
                    <img src="" width="300" height="300">
                }
                else
                {
                    <img src="@Url.Content(Model.FirstOrDefault().pedigreeMetaModel.Image)" width="300" height="300">
                }
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.PublishDate):
                                </div>
                                <div class="col-md-10">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.PublishDate)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.Volumes):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.Volumes)
                                </div>
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.Pages):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.Pages)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.FamilyName):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.FamilyName)
                                </div>
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.OriginalAncestor):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.OriginalAncestor)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">入臺資料</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.DateMoveToTaiwan):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.DateMoveToTaiwan)
                                </div>
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.AncestorToTaiwan):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.AncestorToTaiwan)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.OriginalAddress):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.OriginalAddress)
                                </div>
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.TotalGenerations):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.TotalGenerations)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.GenerationToTaiwan):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.GenerationToTaiwan)
                                </div>
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.LivingAreaInTaiwan):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.LivingAreaInTaiwan)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.OriginalCollector):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.OriginalCollector)
                                </div>
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.TangName):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.TangName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.ContentNotes):
                                </div>
                                <div class="col-md-10">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.ContentNotes)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.IsPublic):
                                </div>
                                <div class="col-md-10">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.IsPublic)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">其他</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.CreatedOnUtc):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.CreatedOnUtc)
                                </div>
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.UpdatedOnUtc):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.UpdatedOnUtc)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.CreatedWho):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.CreatedWho)
                                </div>
                                <div class="col-md-2 text-right">
                                    @Html.DisplayNameFor(m => m.FirstOrDefault().pedigreeMetaModel.UpdatedWho):
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => m.FirstOrDefault().pedigreeMetaModel.UpdatedWho)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <div class="col-md-10">
                        <h3>@tilte</h3>
                    </div>
                    <div class="col-md-2">
                        <input type="button" value="新增" class="btn btn-default" onclick="location.href='@Url.Action("Create", new { pedigreeID = currentPedigreeID, infoType = currentInfoType })'" />
                    </div>
                </div>
                <div class="pedigreeInfo-list">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        if (item.Id == 0)
                        {
                            continue;
                        }
                        var collapseId = string.Concat("collapse", i.ToString());
                        var collapseHref = string.Concat("#collapse", i.ToString());
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title"></h4>
                                <div class="row">
                                    <div class="col-md-10">
                                        <a data-toggle="collapse" href="@collapseHref">@item.InfoTitle</a>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="buttons">
                                            <input type="button" class="btn btn-info" onclick="location.href='@Url.Action("Edit", new { id = item .Id})'" value='修改' />
                                            <input type="button" class="btn btn-danger" value='刪除' />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="@collapseId" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    @Html.Raw(item.InfoContent)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }


        </div>
    </div>
</div>
