@using HGenealogy.Models.PedigreeMeta;
@model PedigreeMetaSimpleQueryModel


<div class="container">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">族譜瀏覽</h1>
            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <p>
                        <a href='@Url.Action("Create")' class="btn btn-default">
                            <span class="glyphicon glyphicon-plus-sign"></span> 新增族譜
                        </a>

                    </p>
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        查詢您的族譜:
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form role="form" action="/PedigreeMeta/Index" method="post">
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FamilyName)
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.FamilyName)
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title)
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Title)
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group pull-right">
                                        <input type="submit" class="btn btn-warning btn-block" value="查詢" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        族譜列表
                    </div>
                    <div class="panel-body">
                        @if (Model.PedigreeMetaList != null)
                        {
                            @Html.Partial("_PedigreeMetaList", Model.PedigreeMetaList);
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

