@using HGenealogy.Models.PedigreeMeta;
@model IEnumerable<PedigreeMetaModel>


<div class="page">
    <div class="page-title">
        <h1>族譜瀏覽</h1>
    </div>


    <p>
        @Html.ActionLink("新增", "Create") |
        @Html.ActionLink("查詢", "Query")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Index", "PedigreeInfo", new { @pedigreeID = item.Id, @infoType = "" }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
