@using HGenealogy.Models.Home;
@model IEnumerable<NewsModel>

<div class="page">
    <div class="row" style="border-bottom: 3px solid #E6E6FA;">
        <div class="col-md-11">
            <h4 style="color:red;"> 最新消息</h4>
        </div>
        <div class="col-md-1">
            @Html.ActionLink("more...", "Index", "News", null, null)
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="container-fluid memberbox">
            <div class="member_intro">
                <div>
                    <div class="member_intro_content">
                        <div class="row">
                            <div class="col-md-2 text-right">@Html.DisplayNameFor(model => model.Title):</div>
                            <div class="col-md-10">@Html.DisplayFor(model => item.Title)</div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 text-right">@Html.DisplayNameFor(model => model.Content):</div>
                            <div class="col-md-10"> @Html.Raw(item.Content)  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>


@*<div class="row">
        @if (Model.Count() > 0)
        {
            <div class="col-md-4">
                <h2>
                    @(Model.ToList()[0].Title)
                </h2>
                <p>
                    @Html.Raw(Model.ToList()[0].Content)
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">更多 &raquo;</a></p>
            </div>
        }
        @if (Model.Count() > 1)
        {
            <div class="col-md-4">
                <h2>@(Model.ToList()[1].Title)</h2>
                <p>
                    @Html.Raw(Model.ToList()[1].Content)
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">更多 &raquo;</a></p>
            </div>

        }
        @if (Model.Count() > 2)
        {
            <div class="col-md-4">
                <h2>@(Model.ToList()[2].Title)</h2>
                <p>
                    @Html.Raw(Model.ToList()[2].Content)
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">更多 &raquo;</a></p>
            </div>
        }
    </div>*@