@model IEnumerable<HGenealogy.Models.GeneMetaViewModel>

@{
    ViewBag.Title = "Details"; 
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsPublic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OriginalAncestor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AncestorToTaiwan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TangName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ZhaoMu)
        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalAncestor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AncestorToTaiwan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TangName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZhaoMu)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.GID }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.GID })
            </td>

        </tr>
    }
</table>