@model  HGenealogy.Models.IndexGeneMetaViewModel
@{
    ViewBag.Title = "族譜一覽表";
    int privateGeneMetaCount = @Model.privateGeneMetaCount;
    int publicGeneMetaCount = @Model.publicGeneMetaCount;
}

<h2>族譜一覽表</h2>

<p>
    @Html.ActionLink("建立我的族譜", "Create")
</p>
 
<hr />
<div class="row">
    <div class="col-md-2">
        <p>@Html.CheckBox("我的家族族譜", true, new { id = "PrivateGeneMeta" })我的家族族譜(@privateGeneMetaCount)</p>
        <hr />
        <p>@Html.CheckBox("所有公開族譜", true, new { id = "PublicGeneMeta" })所有公開族譜(@publicGeneMetaCount)</p> 
    </div>
    <div id="genemetalist" class="col-md-8">
    </div>
</div>


<script>
  $(document).ready(function () {
      $('#PrivateGeneMeta').change(function () { ReloadGeneList(); });
      $('#PublicGeneMeta').change(function () { ReloadGeneList(); }); 
  });
  ReloadGeneList();

  function ReloadGeneList() {
      var includePrivateGeneMeta = $('#PrivateGeneMeta:checked').val();
      var includePublicGeneMeta = $('#PublicGeneMeta:checked').val();
      if (!includePrivateGeneMeta) includePrivateGeneMeta = false;
      if (!includePublicGeneMeta) includePublicGeneMeta = false;

      var url = '@(Url.Action("GetGeneMetaList","GenealogyMeta",null, Request.Url.Scheme))';    
      $("#genemetalist").empty();
      $.get(url, { isPrivate: includePrivateGeneMeta, isPublic: includePublicGeneMeta }, function (data) {
  
          $("#genemetalist").html(data);
      });
  }

 </script>
