@using PagedList.Mvc
@using HGenealogy.Models;
@model PagedList.IPagedList<HGenealogy.Models.FamilyViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>客家族譜資訊系統 - 世系</h2>

<p>
    @Html.ActionLink("新增家族成員", "Create")
</p>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

<table class="table">
   <tr>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().GId)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().GenerationNo)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().FName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().FatherName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().MoterName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().AddressLongitude)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().AddressLatitude)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().LungName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().HakkaName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
    </th>
    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenerationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLongitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLatitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LungName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HakkaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
            @Html.ActionLink("刪除", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
