@using PagedList.Mvc
@model PagedList.IPagedList<HGenealogy.Data.FamilyMember>

@{
    ViewBag.Title = "Index";
}

<h2>族譜資料批次匯入匯出</h2>

<div class="well">
    <button class="btn btn-primary" data-toggle="modal" data-target="#UploadModal">
        匯入資料
    </button>    
    @*<button class="btn btn-primary" id="ButtonExport" name="ButtonExport">
        匯出資料
    </button>*@
</div>

@Html.PagedListPager(Model, page => Url.Action("Upload", new { page }))

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().GivenName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName)
            </td> 
            <td>
                
            </td>
        </tr>
    }
</table>


@Html.Partial("_UploadFile")

@section scripts
{
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/project.js"></script>
    <script src="~/Scripts/project.extends.js"></script>
    <script src="~/Scripts/project.ZipCode.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var actionUrls = {
                Upload: '@Url.Action("UploadConfirm", "GeneExcel")',
                Import: '@Url.Action("Import", "GeneExcel")',
                HasData: '@Url.Action("HasData", "GeneExcel")',
                ExportData: '@Url.Action("Export", "GeneExcel")'
            };
            project.ZipCode.Initialize(actionUrls);
        });
    </script>
}
