@using HGenealogy.Models.FamilyMember;
@using HGenealogy.Infrastructure.Extensions;
@model FamilyMemberViewModel


@*@ViewBag.Validation*@
@foreach (ModelState modelState in ViewData.ModelState.Values)
{
    foreach (ModelError error in modelState.Errors)
    {
        <li>@error.ErrorMessage</li>
    }
}

@using (Ajax.BeginForm("SaveFamilyMember", "FamilyMembers", null, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "createDialog",
            OnSuccess = "onSaveSuccess",
            OnFailure = "onSaveFail(error)"
        }, new { id = "createForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PedigreeId)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedOnUtc)
    @Html.HiddenFor(model => model.UpdatedOnUtc)
    @Html.HiddenFor(model => model.CreatedWho)
    @Html.HiddenFor(model => model.UpdatedWho)
    @Html.HiddenFor(model => model.CurrentPedigreeMeta.Editor)
    @Html.HiddenFor(model => model.CurrentPedigreeMeta.FamilyName)
    @Html.HiddenFor(model => model.CurrentPedigreeMeta.Description)

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@ViewBag.Title</h1>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>成員姓名：@Model.FamilyName @Model.GivenName </h4>
            </div>
            <div class="panel-body">

                <div class="dfp-form-title">
                    <label for="Title">族譜相關</label>
                    <span class="dfp-form-required">*</span>
                </div>

                <div class="dfp-input col-sm-4">
                    <label for="Title">所屬族譜</label>
                    @Html.EditorFor(model => model.CurrentPedigreeMeta.Title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.CurrentPedigreeMeta.Title, "", new { @class = "text-danger" })
                </div>
                <div class="dfp-input col-sm-4">
                    @Html.LabelFor(model => model.GenerationSeq, htmlAttributes: new { @for = "Title" })
                    @Html.EditorFor(model => model.GenerationSeq, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GenerationSeq, "", new { @class = "text-danger" })
                </div>
                <div class="dfp-input col-sm-4">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @for = "Title" })
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>


                <!--親屬-->
                <div class="clearfix"> </div>
                <div class="dfp-form-title">
                    <label for="Title">親屬</label>
                    <span class="dfp-form-required">*</span>
                </div>

                <div class="dfp-input col-sm-4">
                    <label for="Title">父親</label>      
                    @Html.DropDownList("FatherMemberId", (IEnumerable<SelectListItem>)Model.AvailableFatherMemberList, "", new { @class = "ddl-input" })
                </div>

                <div class="dfp-input col-sm-4">
                    <label for="Title">母親</label>
                    @Html.DropDownList("MotherMemberId", (IEnumerable<SelectListItem>)Model.AvailableMotherMemberList, "", new { @class = "ddl-input" })
                </div>
                <div class="dfp-input col-sm-4">
                    <label for="Title">配偶</label>
                    @Html.DropDownList("MateMemberId", (IEnumerable<SelectListItem>)Model.AvailableMateMemberList, "", new { @class = "ddl-input" })
                </div>

                <div class="clearfix"> </div>

                <div class="dfp-form-title">
                    <label for="Title">姓名</label>
                </div>

                <div class="dfp-input col-sm-4">
                    @Html.LabelFor(model => model.FamilyName, htmlAttributes: new { @for = "Title" })
                    <span class="dfp-form-required">*</span>
                    @Html.EditorFor(model => model.FamilyName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.FamilyName, "必要輸入", new { @class = "text-danger" })
                </div>

                <div class="dfp-input col-sm-4">
                    @Html.LabelFor(model => model.GivenName, htmlAttributes: new { @for = "Title" })
                    <span class="dfp-form-required">*</span>
                    @Html.EditorFor(model => model.GivenName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GivenName, "必要輸入", new { @class = "text-danger" })
                </div>

                <div class="clearfix"> </div>
                <div class="dfp-input col-sm-4">
                    @Html.LabelFor(model => model.LungName, htmlAttributes: new { @for = "Title" })
                    @Html.EditorFor(model => model.LungName, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="dfp-input col-sm-4">
                    @Html.LabelFor(model => model.HakkaName, htmlAttributes: new { @for = "Title" })
                    @Html.EditorFor(model => model.HakkaName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="clearfix"> </div>
                <div class="dfp-form-title">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @for = "Title" })
                    <span class="dfp-form-required">*</span>
                </div>
                <div class="dfp-input col-sm-12">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "必要輸入", new { @class = "text-danger" })
                </div>

                <div class="clearfix"> </div>

                <div class="dfp-form-title">
                    <label for="Title">頭像</label>
                </div>
                <div class="dfp-input col-sm-4">
                    @Html.EditorFor(model => model.ImageUrl, "Upload")
                </div>

                <div class="clearfix"> </div>

                <div class="dfp-form-title">
                    <label for="Title">性別</label>
                </div>
                <div class="dfp-input col-sm-4">
                    <div class="gender-input">
                        <span class="male">
                            @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                            <label class="forcheckbox" for="gender-male">男</label>
                        </span>
                        <span class="female">
                            @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                            <label class="forcheckbox" for="gender-female">女</label>
                        </span>
                    </div>
                </div>

                <div class="clearfix"> </div>

                <div class="dfp-form-title">
                    <label for="Title">生日</label>
                </div>
                <div class="dfp-input col-sm-10">
                    <div class="inputs date-of-birth">
                        @Html.EditorFor(model => model.BirthYear, new { htmlAttributes = new { @class = "birthday-input birthday-input-year", placeholder = "YYYY" } })
                        <span> 年</span>
                        @Html.EditorFor(model => model.BirthMonth, new { htmlAttributes = new { @class = "birthday-input birthday-input-month", placeholder = "MM" } })
                        <span> 月</span>
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "birthday-input birthday-input-date", placeholder = "DD" } })
                        <span> 日</span>
                    </div>
                </div>

                <!--地址-->
                <div class="clearfix"> </div>
                <div class="dfp-form-title">
                    <label for="Title">目前居住地址</label>
                </div>
                <div class="dfp-input col-sm-4">
                    <label for="Title">國家</label>                    
                    @Html.DropDownList("CountryName", (IEnumerable<SelectListItem>)Model.AvailableCountries, "", new { @class = "country-input", id = "Countries" })
                </div>

                <div class="dfp-input col-sm-4">
                    <label for="Title">省州</label>
                    @Html.DropDownList("StateProvinceName", (IEnumerable<SelectListItem>)Model.AvailableStateProvinces, "", new { @class = "stateprovince-input", id = "StateProvinces" })
                </div>
                <div class="dfp-input col-sm-4">
                    <label for="Title">城市</label>
                    @Html.DropDownList("CityName", (IEnumerable<SelectListItem>)Model.AvailableCities, "", new { @class = "city-input", id = "Cities" })
                </div>
                <div class="dfp-input col-sm-12">
                    <label for="Title">詳細地址</label>
                    <div class="inputs date-of-birth">
                        @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="clearfix"> </div>
                <div class="dfp-form-title">
                    <label for="Title">聯絡方式</label>
                </div>
                <div class="dfp-input col-sm-4">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @for = "Title" })                  
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control"} })                   
                </div>
                <div class="dfp-input col-sm-4">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @for = "Title" })
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="dfp-input col-sm-4">
                    @Html.LabelFor(model => model.MobilePhone, htmlAttributes: new { @for = "Title" })
                    @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="clearfix"> </div>
                <div class="dfp-form-title">
                </div>
                <div class="dfp-input col-sm-offset-10 col-sm-2">
                    <input type="submit" value="確認存檔" class="btn btn-lg btn-info" />
                </div>

            </div>

        </div>
    </div>
}
<hr />

<div>
    @Html.ActionLink("回到成員列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {

        $(function () {
            $("#Countries").change(function () {
                var selectedItem = $(this).val();
                var text = $(this).find('option:selected').text();
                var ddlStates = $("#StateProvinces");
                var ddlCity = $("#Cities");
                var statesProgress = $("#states-loading-progress");

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetStateProvincesByCountryName", "FamilyMembers"))",
                    data: { "countryName": text },
                    success: function (data) {
                        ddlStates.html('');
                        ddlCity.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.stateProvinceName).html(option.stateProvinceName));
                        });
                        //statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('取得 城市 列表失敗...');
                        //statesProgress.hide();
                    }
                });
            });

        });

        $(function () {
            $("#StateProvinces").change(function () {
                var selectedItem = $(this).val();
                var text = $(this).val();
                var ddlCity = $("#Cities");
                var statesProgress = $("#states-loading-progress");

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetCitiesByStateProvinceName", "FamilyMembers"))",
                    data: { "stateProvinceName": text },
                    success: function (data) {
                        ddlCity.html('');
                        $.each(data, function (id, option) {
                            ddlCity.append($('<option></option>').val(option.CityName).html(option.CityName));
                        });
                        //statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('取得區域列表失敗...');
                        //statesProgress.hide();
                    }
                });
            });

        });
    });



</script>