@using HGenealogy.Models.FamilyMember
@model FamilyMemberViewModel

@{
    string tilte = ViewBag.Title;
    string currentPedigreeName = ViewBag.currentPedigreeName;
    int currentFamilyMemberID = Model.Id;
    string currentInfoType = ViewBag.currentInfoType;
    IDictionary<string, string> infoTypeDic = ViewBag.infoTypeDic;
}


<div class="row">

    @{ ViewData["SelectedPedigreeSecondMenu"] = "MemberDetail";}

    <div class="pedigreecontainer container-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#pedigreecontent">族譜名稱：@currentPedigreeName</a></li>
        </ul>

        <div class="container-fluid" id="pedigreecontent">
            @Html.Partial("_PedigreeSecondMenu", @ViewData)
        </div>

        <hr />

        <h4>@Model.FamilyName - @Model.GivenName</h4>

    </div>

    <div class="side-2">
        <div class="block">
            <div class="title">
                <strong>成員資訊</strong>
            </div>
            <div class="block-pedigree-info-navigation listbox">
                <ul class="list">
                    @foreach (KeyValuePair<string, string> keyValue in infoTypeDic)
                    {
                        @RenderFamilyMemberCategoryLine(keyValue, currentFamilyMemberID, currentInfoType)
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="center-2">
        @Html.Partial("_InfoList", Model, new ViewDataDictionary { {"Title", tilte},
                                                           {"currentFamilyMemberID", currentFamilyMemberID},
                                                           {"currentInfoType", currentInfoType},
                                                           {"infoTypeDic", infoTypeDic},
                                                           })
    </div>
</div>

@helper RenderFamilyMemberCategoryLine(KeyValuePair<string, string> infoTypeKeyValue, int currentFamilyMemberID, string currentInfoType)
{

    bool active = infoTypeKeyValue.Key == currentInfoType;
    bool last = infoTypeKeyValue.Key == "Personage";
    string liClass = active ? "active" : "inactive";
    if (last)
    {
        liClass += " last";
    }
    <li class="@liClass">
        @Html.ActionLink(infoTypeKeyValue.Value, "Details", new { familyMemberID = currentFamilyMemberID, infoType = infoTypeKeyValue.Key })
    </li>
}