@model HGenealogy.Data.FamilyMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FamilyMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherMemberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherMemberId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherMemberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherMemberId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentAddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentAddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LungName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LungName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HakkaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HakkaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedWho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedWho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedWho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedWho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastChanged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChanged)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
