@using HGenealogy.Models.FamilyMember
@model FamilyMemberSimpleQueryModel
@{
    ViewBag.Title = "Index";
    string currentPedigreeName = ViewBag.currentPedigreeName;
    int currentPedigreeId = ViewBag.currentPedigreeId;
 
}
 
@{ ViewData["SelectedPedigreeSecondMenu"] = "MemberList";}

<div class="container">

    <div class="container-fluid pedigree-sec-menu-wrap">

        <div class="container-fluid pedigree-sec-menu">
            @*@Html.Partial("_PedigreeSecondMenu", @ViewData)*@
            @Html.Action("PedigreeSecondMenu", "PedigreeMeta", new { id = currentPedigreeId })
        </div>

        <hr />
    </div>

    <hr />

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">通訊錄</h1>
            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <p>
                        <a href='@Url.Action("Create")' class="btn btn-default">
                            <span class="glyphicon glyphicon-plus-sign"></span> 建立新成員
                        </a>

                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        查詢家族成員:
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <form role="form" action="/FamilyMembers/Index" method="post">
                                <div class="col-md-1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GivenName)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.GivenName)
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GenearationSeq)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.GenearationSeq)
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group pull-right">
                                        <input type="submit" class="btn btn-warning btn-block" value="查詢" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        家族成員列表
                    </div>
                    <div class="panel-body">
                        @if (Model.FamilyMemberList != null)
                        {
                            @Html.Partial("_FamilyMemberList", Model.FamilyMemberList);
                        }
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>