@model IEnumerable<HGenealogy.Data.FamilyMember>

@{
    ViewBag.Title = "Index";
}

<h3>家族成員列表</h3>

<div class="newfm float-right">
    <p>
        @Html.ActionLink("建立新會員", "Create")
    </p>
</div>
<div class="clearfix"></div>

@foreach (var item in Model)
{     
    <div class="container-fluid memberbox">
        <div class="member_img">
            <img src="/Content/Images/indis.gif" />
        </div>
        <div class="member_intro">
            <div>
                <h4><strong>@Html.DisplayFor(modelItem => item.GivenName)</strong></h4>
                <div class="member_intro_content">
                    <p>摘要1：@Html.DisplayFor(modelItem => item.Description)</p>
                    <p>摘要2：@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>           
        </div>
        <div class="editor-btn">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    </div>             
}
 