<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 客家族譜平台</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <link href="~/Content/kendo/2016.2.607/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.607/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/2016.2.607/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2016.2.607/cultures/kendo.culture.zh-CHT.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>

    @Html.Partial("_TopMenu");

    <div class="row"></div>

    <div class=" container body-content">
        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - 客家族譜平台</p>
        </footer>
    </div>

</body>
</html>
