@using HGenealogy.Models.PedigreeMeta
@using HGenealogy.Models.FamilyMember
@model PedigreeMetaModel

@{
    string currentPedigreeName = Model == null ? "" : Model.Title;
    string currentPedigreeId = Model == null ? "" : Model.Id.ToString();    
    IEnumerable<SelectListItem> AvailablePedigreeList = ViewBag.AvailablePedigreeSelectList == null ? null : (IEnumerable<SelectListItem>)ViewBag.AvailablePedigreeSelectList;
  }

 
<div class="row pedigree-sec-menu-head">
    <div class="col-md-5">
        <h3 class="text-left">
            目前檢視族譜: @currentPedigreeName
        </h3>
    </div>
     
    <div class="pedigree-sec-menu-btngroup">
        快選族譜:
        @Html.DropDownList("PedigreeDDL", AvailablePedigreeList)

        <span>
            @Html.ActionLink("族譜一覽", "Index", "PedigreeMeta", new { @class = "btn btn-normal" })
            @Html.ActionLink("查詢族譜", "Query", "PedigreeMeta", new { @class = "btn btn-normal" })
        </span>
    </div>
</div>

<nav class="navbar navbar-brand">
           
    <ul class="nav navbar-nav">
        <li>            
           @Html.ActionLink("族譜詳細內容", "Index", "PedigreeInfo", new { pedigreeID = currentPedigreeId }, null)
        </li>
        <li>
            @Html.ActionLink("通訊錄", "Index", "FamilyMembers")
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                世系圖表
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">                
                <li>
                    @Html.ActionLink("世系圖", "FamilyTreeA", "FamilyMembers")
                </li>
                <li>
                    @Html.ActionLink("個人基本資料", "Meta", "FamilyMembers")
                </li>
                <li>
                    @Html.ActionLink("個人生命史(自傳)", "Info", "FamilyMembers", new { infoType = FamilyMemberNavigationEnum.Biography })
                </li>
            </ul>
        </li>
        <li><a href="~/PedigreeInfo/TimeMapA">時空紀事地圖</a></li>
        <li><a href="~/VisualGenealogy">家族分佈</a></li>
    </ul>
     
</nav>