<div class="navbar navbar-fixed-top firstmenu">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo1" href="/"><img src="~/Content/Images/logo.png" alt="hg" height="60" width="295"></a>

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle largefont" data-toggle="dropdown" aria-expanded="false">
                    @Html.ActionLink("族譜瀏覽", "Index", "PedigreeMeta")
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="largefont">
                        @Html.ActionLink("族譜一覽", "Index", "PedigreeMeta")
                    </li>
                    <li class="largefont">
                        @Html.ActionLink("世系圖表", "FamilyTreeA", "FamilyMembers")
                    </li>
                    <li class="largefont">
                        @Html.ActionLink("家族分佈", "Index", "VisualGenealogy", new { area = "Genealogy" }, null)
                    </li>
 
                    <li class="largefont"><a href="#">時間地圖</a></li>
                 </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-success largefont" aria-expanded="false">
                    @Html.ActionLink("族譜查詢", "Query", "PedigreeMeta")
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-warning largefont" aria-expanded="false">
                    <a href="#">族譜資源</a> 
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle largefont" data-toggle="dropdown" aria-expanded="false">
                    <a href="#">
                        族譜管理
                        <span class="caret"></span>
                    </a>

                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="largefont">@Html.ActionLink("族譜管理", "Query", "PedigreeMeta")</li>
                    <li class="largefont">
                        @Html.ActionLink("家族成員批次匯入", "Upload", "FamilyMembers")
                    </li>
                    <li class="largefont">
                        @Html.ActionLink("最新消息管理", "Index", "News")
                    </li>
                    <li class="largefont"><a href="#">家族分佈</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                </ul>*@

            @*@Html.MvcSiteMap().Menu("BootstrapMenuHelperModel", false)*@
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>